## 1. Data

In [32]:
import scipy.io
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
mat_data1 = scipy.io.loadmat('balanced_land_dictionary.mat')
matrix_data1 = mat_data1['dic_land']

mat_data2 = scipy.io.loadmat('balanced_seaIce_dictionary.mat')
matrix_data2 = mat_data2['dic_seaIce']

mat_data3 = scipy.io.loadmat('balanced_ocean_dictionary.mat')
matrix_data3 = mat_data3['dic_ocean']

mat_data4 = scipy.io.loadmat('balanced_coast_dictionary.mat')
matrix_data4 = mat_data4['dic_coast']

mat_data5 = scipy.io.loadmat('balanced_snow_dictionary.mat')
matrix_data5 = mat_data5['dic_snow']


# Convert the matrix data to a Pandas DataFrame
df_land = pd.DataFrame(matrix_data1)
df_seaice = pd.DataFrame(matrix_data2)
df_ocean = pd.DataFrame(matrix_data3)
df_coast = pd.DataFrame(matrix_data4)
df_snow = pd.DataFrame(matrix_data5)

# All Together
df_all = pd.concat([df_land, df_seaice, df_ocean, df_coast, df_snow])

## 2. Generating Results

### a. Land

In [2]:
rows_to_keep = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 29]
df_land_req = df_land.iloc[rows_to_keep]
df_land_req

,0,1,2,3,4,5,6,7,8,9,...,189972,189973,189974,189975,189976,189977,189978,189979,189980,189981
0,270.880005,297.109985,267.140015,275.450012,268.910004,301.079987,244.490005,285.809998,273.220001,268.339996,...,240.979996,272.220001,272.220001,274.290009,274.290009,274.290009,274.290009,274.290009,274.290009,274.290009
1,268.739990,284.809998,265.809998,249.809998,265.200012,288.920013,228.460007,284.720001,270.470001,267.769989,...,216.690002,269.239990,269.239990,269.859985,269.859985,269.859985,269.859985,269.859985,269.859985,269.859985
2,274.230011,299.299988,268.070007,276.600006,269.320007,300.899994,248.339996,287.230011,273.399994,269.459991,...,252.449997,272.309998,272.309998,273.040009,273.040009,273.040009,273.040009,273.040009,273.040009,273.040009
3,271.350006,287.760010,267.540009,261.730011,263.869995,293.519989,236.190002,287.640015,271.380005,267.350006,...,234.479996,271.709991,271.709991,269.660004,269.660004,269.660004,269.660004,269.660004,269.660004,269.660004
4,274.190002,298.609985,270.339996,277.630005,271.119995,298.459991,252.880005,285.549988,273.799988,270.079987,...,258.049988,273.929993,273.929993,273.269989,273.269989,273.269989,273.269989,273.269989,273.269989,273.269989
5,274.950012,298.549988,270.140015,276.869995,270.470001,298.450012,255.330002,285.700012,274.049988,268.519989,...,259.959991,271.559998,271.559998,271.700012,271.700012,271.700012,271.700012,271.700012,271.700012,271.700012
6,274.019989,290.470001,269.250000,267.279999,264.309998,294.320007,246.070007,285.559998,271.619995,266.950012,...,244.259995,270.190002,270.190002,269.309998,269.309998,269.309998,269.309998,269.309998,269.309998,269.309998
7,275.559998,298.980011,269.260010,276.040009,274.959991,295.170013,263.890015,285.239990,274.190002,267.750000,...,268.609985,267.190002,267.190002,270.920013,270.920013,270.920013,270.920013,270.920013,270.920013,270.920013
8,274.720001,293.390015,269.000000,270.220001,269.609985,293.440002,261.170013,284.399994,272.200012,265.000000,...,260.839996,265.880005,265.880005,269.230011,269.230011,269.230011,269.230011,269.230011,269.230011,269.230011
9,269.579987,296.170013,268.000000,275.600006,277.390015,283.929993,264.619995,279.529999,275.799988,273.019989,...,269.339996,250.470001,250.470001,267.779999,267.779999,267.779999,267.779999,267.779999,267.779999,267.779999
10,268.149994,294.290009,267.019989,272.549988,276.839996,282.920013,261.890015,278.450012,275.540009,271.959991,...,268.140015,247.350006,247.350006,267.579987,267.579987,267.579987,267.579987,267.579987,267.579987,267.579987
11,249.949997,262.089996,250.690002,264.149994,260.779999,263.559998,254.570007,261.260010,256.390015,266.359985,...,250.809998,247.839996,247.839996,251.149994,251.149994,251.149994,251.149994,251.149994,251.149994,251.149994
12,260.359985,282.750000,260.440002,273.149994,269.380005,271.940002,261.799988,268.859985,271.320007,273.989990,...,261.399994,251.059998,251.059998,260.549988,260.549988,260.549988,260.549988,260.549988,260.549988,260.549988
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
29,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,0.000000,NaN,0.000000,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_land_req.iloc[13].unique()

array([0., 5., 3.])

In [4]:
df_land_req.iloc[13] = df_land_req.iloc[13].replace({3.0: 1, 5.0: 2})
variables = ['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT','183-7_BT', 'precip_flag','pr_rate_nearSurf']
df_land_req.loc[:, 'variable'] = variables
df_land_req.set_index('variable', inplace=True)
df_land_req = df_land_req.dropna(axis=1)

df_land_tran = df_land_req.T
df_land_tran

variable,10v_BT,10h_BT,18v_BT,18h_BT,23v_BT,36v_BT,36h_BT,89v_BT,89h_BT,166v_BT,166h_BT,183-3_BT,183-7_BT,precip_flag,pr_rate_nearSurf
0,270.880005,268.739990,274.230011,271.350006,274.190002,274.950012,274.019989,275.559998,274.720001,269.579987,268.149994,249.949997,260.359985,0.0,0.0
2,267.140015,265.809998,268.070007,267.540009,270.339996,270.140015,269.250000,269.260010,269.000000,268.000000,267.019989,250.690002,260.440002,0.0,0.0
4,268.910004,265.200012,269.320007,263.869995,271.119995,270.470001,264.309998,274.959991,269.609985,277.390015,276.839996,260.779999,269.380005,0.0,0.0
6,244.490005,228.460007,248.339996,236.190002,252.880005,255.330002,246.070007,263.890015,261.170013,264.619995,261.890015,254.570007,261.799988,0.0,0.0
7,285.809998,284.720001,287.230011,287.640015,285.549988,285.700012,285.559998,285.239990,284.399994,279.529999,278.450012,261.260010,268.859985,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189864,237.119995,216.089996,248.550003,229.130005,254.229996,255.279999,241.289993,265.989990,259.519989,267.100006,266.950012,249.429993,259.920013,1.0,0.0
189865,237.119995,216.089996,248.550003,229.130005,254.229996,255.279999,241.289993,265.989990,259.519989,267.100006,266.950012,249.429993,259.920013,1.0,0.0
189866,237.119995,216.089996,248.550003,229.130005,254.229996,255.279999,241.289993,265.989990,259.519989,267.100006,266.950012,249.429993,259.920013,1.0,0.0
189971,240.979996,216.690002,252.449997,234.479996,258.049988,259.959991,244.259995,268.609985,260.839996,269.339996,268.140015,250.809998,261.399994,1.0,0.0
189972,240.979996,216.690002,252.449997,234.479996,258.049988,259.959991,244.259995,268.609985,260.839996,269.339996,268.140015,250.809998,261.399994,1.0,0.0

In [5]:
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

X = df_land_tran[['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT', '183-7_BT']]
y = df_land_tran['precip_flag']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)


knn = KNeighborsClassifier(n_neighbors=1)


# for kNN, we need to scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
knn.fit(X_train_scaled, y_train)

knn_pred = knn.predict(X_test_scaled)

In [6]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score

knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

knn_params = {'knn__n_neighbors': range(1, 20)}

knn_grid = GridSearchCV(knn_pipe, knn_params, cv=10, n_jobs=-1, verbose=True)

knn_grid.fit(X_train, y_train)

print(knn_grid.best_params_, knn_grid.best_score_)

accuracy_score(y_test, knn_grid.predict(X_test))

Fitting 10 folds for each of 19 candidates, totalling 190 fits
{'knn__n_neighbors': 1} 0.9363859590456454

0.9430041427235066

In [7]:
from sklearn.metrics import confusion_matrix

# Create a confusion matrix
conf_matrix = confusion_matrix(y_test, knn_pred)
print(conf_matrix)

# Extract TP, TN, FP, FN for labels 1 and 2
TP_1 = conf_matrix[1, 1]  # True Positive for label 1
TN_1 = conf_matrix[0, 0] + conf_matrix[0, 2] + conf_matrix[2, 0] + conf_matrix[2, 2]  # True Negative for label 1
FP_1 = conf_matrix[0, 1] + conf_matrix[2, 1]  # False Positive for label 1
FN_1 = conf_matrix[1, 0] + conf_matrix[1, 2]  # False Negative for label 1

TP_2 = conf_matrix[2, 2]  # True Positive for label 2
TN_2 = conf_matrix[0, 0] + conf_matrix[0, 1] + conf_matrix[1, 0] + conf_matrix[1, 1]  # True Negative for label 2
FP_2 = conf_matrix[0, 2] + conf_matrix[1, 2]  # False Positive for label 2
FN_2 = conf_matrix[2, 0] + conf_matrix[2, 1]  # False Negative for label 2

# Calculate True Positive Rate (TPR) and False Positive Rate (FPR) for labels 1 and 2
TPR_1 = TP_1 / (TP_1 + FN_1)
FPR_1 = FP_1 / (FP_1 + TN_1)

TPR_2 = TP_2 / (TP_2 + FN_2)
FPR_2 = FP_2 / (FP_2 + TN_2)

# Print the results
print(f"Label 1 - TPR: {TPR_1}, FPR: {FPR_1}")
print(f"Label 2 - TPR: {TPR_2}, FPR: {FPR_2}")

[[6890  500   42]
 [ 267 6611   13]
 [  12   19  612]]
Label 1 - TPR: 0.9593672906689885, FPR: 0.06427244582043344
Label 2 - TPR: 0.9517884914463453, FPR: 0.003839977658311806

### b. Sea Ice

In [8]:
rows_to_keep = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 29]
df_seaice_req = df_seaice.iloc[rows_to_keep]
df_seaice_req

,0,1,2,3,4,5,6,7,8,9,...,111928,111929,111930,111931,111932,111933,111934,111935,111936,111937
0,162.550003,258.320007,260.470001,247.220001,246.699997,253.009995,175.250000,235.080002,244.020004,252.699997,...,235.169998,235.169998,235.029999,235.029999,235.029999,235.029999,235.029999,235.029999,235.029999,235.029999
1,89.900002,230.550003,240.580002,226.619995,196.009995,228.800003,109.300003,227.369995,222.309998,220.860001,...,191.330002,191.330002,196.720001,196.720001,196.720001,196.720001,196.720001,196.720001,196.720001,196.720001
2,176.289993,261.230011,259.760010,249.960007,241.029999,257.109985,185.100006,236.360001,245.179993,246.139999,...,248.440002,248.440002,242.960007,242.960007,242.960007,242.960007,242.960007,242.960007,242.960007,242.960007
3,105.660004,246.259995,239.410004,231.789993,201.399994,234.860001,116.739998,225.690002,227.339996,213.190002,...,216.070007,216.070007,209.509995,209.509995,209.509995,209.509995,209.509995,209.509995,209.509995,209.509995
4,187.190002,262.630005,259.489990,249.960007,238.949997,257.369995,195.800003,238.279999,244.740005,240.119995,...,255.779999,255.779999,252.320007,252.320007,252.320007,252.320007,252.320007,252.320007,252.320007,252.320007
5,204.679993,263.029999,253.130005,250.539993,233.889999,257.790009,214.509995,240.250000,245.789993,230.679993,...,259.799988,259.799988,257.619995,257.619995,257.619995,257.619995,257.619995,257.619995,257.619995,257.619995
6,141.880005,244.789993,236.779999,235.880005,210.919998,239.779999,156.600006,232.449997,231.600006,205.330002,...,242.630005,242.630005,240.839996,240.839996,240.839996,240.839996,240.839996,240.839996,240.839996,240.839996
7,234.130005,262.709991,243.740005,250.990005,244.059998,257.459991,246.050003,219.119995,241.419998,214.779999,...,267.059998,267.059998,268.130005,268.130005,268.130005,268.130005,268.130005,268.130005,268.130005,268.130005
8,183.690002,246.869995,234.860001,237.669998,233.529999,246.539993,213.860001,214.309998,231.529999,195.449997,...,265.869995,265.869995,266.940002,266.940002,266.940002,266.940002,266.940002,266.940002,266.940002,266.940002
9,248.649994,263.929993,249.309998,248.559998,255.649994,257.519989,255.880005,216.869995,238.059998,213.440002,...,264.670013,264.670013,265.179993,265.179993,265.179993,265.179993,265.179993,265.179993,265.179993,265.179993
10,219.529999,259.640015,247.139999,240.339996,255.039993,253.940002,244.080002,213.789993,229.990005,202.169998,...,264.450012,264.450012,263.470001,263.470001,263.470001,263.470001,263.470001,263.470001,263.470001,263.470001
11,257.619995,252.539993,246.270004,246.699997,256.049988,246.669998,259.779999,247.960007,247.910004,239.800003,...,252.679993,252.679993,253.720001,253.720001,253.720001,253.720001,253.720001,253.720001,253.720001,253.720001
12,257.019989,261.029999,254.429993,251.949997,260.320007,254.850006,260.480011,241.210007,243.449997,228.059998,...,258.940002,258.940002,260.760010,260.760010,260.760010,260.760010,260.760010,260.760010,260.760010,260.760010
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
29,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_seaice_req.iloc[13].unique()

array([0., 5., 3.])

In [10]:
df_seaice_req.iloc[13] = df_seaice_req.iloc[13].replace({3.0: 1, 5.0: 2})
variables = ['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT','183-7_BT', 'precip_flag','pr_rate_nearSurf']
df_seaice_req.loc[:, 'variable'] = variables
df_seaice_req.set_index('variable', inplace=True)
df_seaice_req = df_seaice_req.dropna(axis=1)

df_seaice_tran = df_seaice_req.T
df_seaice_tran

variable,10v_BT,10h_BT,18v_BT,18h_BT,23v_BT,36v_BT,36h_BT,89v_BT,89h_BT,166v_BT,166h_BT,183-3_BT,183-7_BT,precip_flag,pr_rate_nearSurf
1,258.320007,230.550003,261.230011,246.259995,262.630005,263.029999,244.789993,262.709991,246.869995,263.929993,259.640015,252.539993,261.029999,0.0,0.000000
6,175.250000,109.300003,185.100006,116.739998,195.800003,214.509995,156.600006,246.050003,213.860001,255.880005,244.080002,259.779999,260.480011,0.0,0.000000
9,252.699997,220.860001,246.139999,213.190002,240.119995,230.679993,205.330002,214.779999,195.449997,213.440002,202.169998,239.800003,228.059998,0.0,0.000000
14,241.949997,200.429993,250.800003,218.839996,256.959991,257.700012,236.190002,269.399994,263.140015,269.980011,270.500000,257.399994,264.429993,0.0,0.000000
15,175.860001,108.959999,189.119995,122.220001,201.190002,212.419998,149.919998,237.899994,184.199997,256.540009,236.979996,256.589996,261.790009,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111896,187.270004,128.860001,206.199997,150.880005,226.610001,233.339996,193.940002,254.690002,241.779999,256.390015,253.029999,248.389999,255.130005,1.0,1.061452
111897,195.050003,142.520004,209.610001,162.070007,228.289993,235.639999,199.240005,260.760010,249.210007,259.450012,255.710007,248.100006,255.520004,1.0,2.454278
111898,195.050003,142.520004,209.610001,162.070007,228.289993,235.639999,199.240005,260.760010,249.210007,259.450012,255.710007,248.100006,255.520004,1.0,2.454278
111899,195.050003,142.520004,209.610001,162.070007,228.289993,235.639999,199.240005,260.760010,249.210007,259.450012,255.710007,248.100006,255.520004,1.0,2.454278
111900,195.050003,142.520004,209.610001,162.070007,228.289993,235.639999,199.240005,260.760010,249.210007,259.450012,255.710007,248.100006,255.520004,1.0,2.454278

In [11]:
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

X = df_seaice_tran[['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT', '183-7_BT']]
y = df_seaice_tran['precip_flag']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)


knn = KNeighborsClassifier(n_neighbors=1)


# for kNN, we need to scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
knn.fit(X_train_scaled, y_train)

knn_pred = knn.predict(X_test_scaled)

In [12]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score

knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

knn_params = {'knn__n_neighbors': range(1, 20)}

knn_grid = GridSearchCV(knn_pipe, knn_params, cv=10, n_jobs=-1, verbose=True)

knn_grid.fit(X_train, y_train)

print(knn_grid.best_params_, knn_grid.best_score_)

accuracy_score(y_test, knn_grid.predict(X_test))

Fitting 10 folds for each of 19 candidates, totalling 190 fits
{'knn__n_neighbors': 1} 0.969125788162771

0.9717644473742034

In [13]:
from sklearn.metrics import confusion_matrix

# Create a confusion matrix
conf_matrix = confusion_matrix(y_test, knn_pred)
print(conf_matrix)

# Extract TP, TN, FP, FN for labels 1 and 2
TP_1 = conf_matrix[1, 1]  # True Positive for label 1
TN_1 = conf_matrix[0, 0] + conf_matrix[0, 2] + conf_matrix[2, 0] + conf_matrix[2, 2]  # True Negative for label 1
FP_1 = conf_matrix[0, 1] + conf_matrix[2, 1]  # False Positive for label 1
FN_1 = conf_matrix[1, 0] + conf_matrix[1, 2]  # False Negative for label 1

TP_2 = conf_matrix[2, 2]  # True Positive for label 2
TN_2 = conf_matrix[0, 0] + conf_matrix[0, 1] + conf_matrix[1, 0] + conf_matrix[1, 1]  # True Negative for label 2
FP_2 = conf_matrix[0, 2] + conf_matrix[1, 2]  # False Positive for label 2
FN_2 = conf_matrix[2, 0] + conf_matrix[2, 1]  # False Negative for label 2

# Calculate True Positive Rate (TPR) and False Positive Rate (FPR) for labels 1 and 2
TPR_1 = TP_1 / (TP_1 + FN_1)
FPR_1 = FP_1 / (FP_1 + TN_1)

TPR_2 = TP_2 / (TP_2 + FN_2)
FPR_2 = FP_2 / (FP_2 + TN_2)

# Print the results
print(f"Label 1 - TPR: {TPR_1}, FPR: {FPR_1}")
print(f"Label 2 - TPR: {TPR_2}, FPR: {FPR_2}")

[[4196   13  169]
 [   9  237    4]
 [  60    2 4412]]
Label 1 - TPR: 0.948, FPR: 0.0016945323090826931
Label 2 - TPR: 0.986142154671435, FPR: 0.037381158167675024

### c. Ocean

In [14]:
rows_to_keep = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 29]
df_ocean_req = df_ocean.iloc[rows_to_keep]
df_ocean_req

,0,1,2,3,4,5,6,7,8,9,...,665016,665017,665018,665019,665020,665021,665022,665023,665024,665025
0,159.139999,163.229996,173.520004,173.199997,172.850006,161.529999,169.520004,251.720001,174.279999,162.940002,...,246.119995,246.119995,246.119995,248.289993,248.289993,238.830002,238.880005,238.880005,273.230011,273.230011
1,82.360001,93.809998,95.489998,95.389999,99.669998,91.779999,86.529999,228.470001,98.639999,87.239998,...,228.759995,228.759995,228.759995,231.089996,231.089996,206.399994,206.869995,206.869995,268.589996,268.589996
2,180.250000,178.199997,207.839996,199.899994,203.550003,180.460007,190.589996,257.850006,209.880005,179.479996,...,250.610001,250.610001,250.610001,251.139999,251.139999,244.919998,245.690002,245.690002,273.470001,273.470001
3,105.150002,112.410004,147.869995,135.520004,147.979996,116.930000,116.089996,241.259995,154.910004,107.220001,...,235.149994,235.149994,235.149994,236.449997,236.449997,215.860001,220.389999,220.389999,271.619995,271.619995
4,200.779999,192.550003,247.380005,234.740005,241.990005,197.639999,217.270004,262.940002,250.300003,198.330002,...,255.589996,255.589996,255.589996,255.990005,255.990005,251.119995,253.440002,253.440002,274.119995,274.119995
5,210.179993,203.580002,228.830002,218.279999,224.380005,210.029999,215.809998,262.730011,236.240005,202.610001,...,256.399994,256.399994,256.399994,257.480011,257.480011,252.220001,254.419998,254.419998,274.070007,274.070007
6,140.089996,145.130005,176.770004,161.149994,176.889999,155.649994,148.529999,247.679993,192.380005,136.190002,...,242.550003,242.550003,242.550003,244.669998,244.669998,229.169998,232.600006,232.600006,271.839996,271.839996
7,248.899994,236.720001,279.940002,271.950012,276.170013,244.330002,268.890015,270.790009,277.170013,244.130005,...,267.119995,267.119995,267.119995,268.119995,268.119995,267.420013,267.269989,267.269989,275.820007,275.820007
8,203.179993,191.800003,265.019989,248.270004,263.579987,212.830002,238.479996,262.079987,271.320007,192.009995,...,261.079987,261.079987,261.079987,263.579987,263.579987,257.089996,256.480011,256.480011,274.350006,274.350006
9,266.709991,260.500000,282.350006,284.850006,281.660004,259.309998,285.540009,274.839996,271.850006,278.750000,...,272.200012,272.200012,272.200012,271.220001,271.220001,268.809998,268.359985,268.359985,272.440002,272.440002
10,259.670013,245.949997,283.540009,286.239990,283.269989,252.330002,285.149994,274.010010,272.899994,266.980011,...,270.920013,270.920013,270.920013,269.950012,269.950012,268.170013,267.750000,267.750000,272.190002,272.190002
11,255.710007,254.369995,259.829987,261.769989,264.109985,252.009995,275.589996,253.570007,255.210007,273.619995,...,255.759995,255.759995,255.759995,256.130005,256.130005,252.369995,252.639999,252.639999,251.279999,251.279999
12,263.309998,261.760010,273.809998,274.730011,274.049988,258.869995,281.029999,265.119995,265.850006,284.579987,...,264.700012,264.700012,264.700012,265.209991,265.209991,261.769989,261.140015,261.140015,262.980011,262.980011
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
29,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.000000,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN

In [15]:
df_ocean_req.iloc[13].unique()

array([0., 5., 3.])

In [16]:
df_ocean_req.iloc[13] = df_ocean_req.iloc[13].replace({3.0: 1, 5.0: 2})
variables = ['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT','183-7_BT', 'precip_flag','pr_rate_nearSurf']
df_ocean_req.loc[:, 'variable'] = variables
df_ocean_req.set_index('variable', inplace=True)
df_ocean_req = df_ocean_req.dropna(axis=1)

df_ocean_tran = df_ocean_req.T
df_ocean_tran

variable,10v_BT,10h_BT,18v_BT,18h_BT,23v_BT,36v_BT,36h_BT,89v_BT,89h_BT,166v_BT,166h_BT,183-3_BT,183-7_BT,precip_flag,pr_rate_nearSurf
5,161.529999,91.779999,180.460007,116.930000,197.639999,210.029999,155.649994,244.330002,212.830002,259.309998,252.330002,252.009995,258.869995,0.0,0.0
8,174.279999,98.639999,209.880005,154.910004,250.300003,236.240005,192.380005,277.170013,271.320007,271.850006,272.899994,255.210007,265.850006,0.0,0.0
11,171.309998,94.360001,195.630005,130.919998,227.229996,217.020004,159.160004,269.859985,243.660004,288.230011,287.820007,272.239990,281.059998,0.0,0.0
20,168.139999,92.250000,191.369995,128.339996,221.850006,213.169998,156.389999,263.769989,237.240005,282.230011,281.239990,263.570007,273.429993,0.0,0.0
23,171.100006,91.360001,193.529999,125.360001,224.639999,214.699997,151.259995,267.730011,235.309998,289.850006,288.880005,270.600006,281.970001,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665016,246.119995,228.759995,250.610001,235.149994,255.589996,256.399994,242.550003,267.119995,261.079987,272.200012,270.920013,255.759995,264.700012,1.0,0.0
665017,246.119995,228.759995,250.610001,235.149994,255.589996,256.399994,242.550003,267.119995,261.079987,272.200012,270.920013,255.759995,264.700012,1.0,0.0
665018,246.119995,228.759995,250.610001,235.149994,255.589996,256.399994,242.550003,267.119995,261.079987,272.200012,270.920013,255.759995,264.700012,1.0,0.0
665019,248.289993,231.089996,251.139999,236.449997,255.990005,257.480011,244.669998,268.119995,263.579987,271.220001,269.950012,256.130005,265.209991,1.0,0.0
665020,248.289993,231.089996,251.139999,236.449997,255.990005,257.480011,244.669998,268.119995,263.579987,271.220001,269.950012,256.130005,265.209991,1.0,0.0

In [17]:
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

X = df_ocean_tran[['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT', '183-7_BT']]
y = df_ocean_tran['precip_flag']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)


knn = KNeighborsClassifier(n_neighbors=1)


# for kNN, we need to scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
knn.fit(X_train_scaled, y_train)

knn_pred = knn.predict(X_test_scaled)

In [18]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score

knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

knn_params = {'knn__n_neighbors': range(1, 20)}

knn_grid = GridSearchCV(knn_pipe, knn_params, cv=10, n_jobs=-1, verbose=True)

knn_grid.fit(X_train, y_train)

print(knn_grid.best_params_, knn_grid.best_score_)

accuracy_score(y_test, knn_grid.predict(X_test))

Fitting 10 folds for each of 19 candidates, totalling 190 fits
{'knn__n_neighbors': 1} 0.9560384458367623

0.9585215227209881

In [19]:
from sklearn.metrics import confusion_matrix

# Create a confusion matrix
conf_matrix = confusion_matrix(y_test, knn_pred)
print(conf_matrix)

# Extract TP, TN, FP, FN for labels 1 and 2
TP_1 = conf_matrix[1, 1]  # True Positive for label 1
TN_1 = conf_matrix[0, 0] + conf_matrix[0, 2] + conf_matrix[2, 0] + conf_matrix[2, 2]  # True Negative for label 1
FP_1 = conf_matrix[0, 1] + conf_matrix[2, 1]  # False Positive for label 1
FN_1 = conf_matrix[1, 0] + conf_matrix[1, 2]  # False Negative for label 1

TP_2 = conf_matrix[2, 2]  # True Positive for label 2
TN_2 = conf_matrix[0, 0] + conf_matrix[0, 1] + conf_matrix[1, 0] + conf_matrix[1, 1]  # True Negative for label 2
FP_2 = conf_matrix[0, 2] + conf_matrix[1, 2]  # False Positive for label 2
FN_2 = conf_matrix[2, 0] + conf_matrix[2, 1]  # False Negative for label 2

# Calculate True Positive Rate (TPR) and False Positive Rate (FPR) for labels 1 and 2
TPR_1 = TP_1 / (TP_1 + FN_1)
FPR_1 = FP_1 / (FP_1 + TN_1)

TPR_2 = TP_2 / (TP_2 + FN_2)
FPR_2 = FP_2 / (FP_2 + TN_2)

# Print the results
print(f"Label 1 - TPR: {TPR_1}, FPR: {FPR_1}")
print(f"Label 2 - TPR: {TPR_2}, FPR: {FPR_2}")

[[24722  1051   374]
 [  698 21412     9]
 [  113     5  5861]]
Label 1 - TPR: 0.9680365296803652, FPR: 0.03287057212226857
Label 2 - TPR: 0.9802642582371635, FPR: 0.007935192475034186

### d. Coast

In [20]:
rows_to_keep = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 29]
df_coast_req = df_coast.iloc[rows_to_keep]
df_coast_req

,0,1,2,3,4,5,6,7,8,9,...,49284,49285,49286,49287,49288,49289,49290,49291,49292,49293
0,188.050003,240.210007,162.130005,194.509995,163.110001,187.199997,268.260010,164.869995,226.089996,225.919998,...,227.259995,225.960007,225.960007,225.960007,225.960007,225.960007,225.960007,225.130005,225.130005,225.130005
1,117.709999,191.199997,90.650002,132.199997,88.269997,127.400002,241.259995,88.860001,191.990005,175.179993,...,196.589996,192.759995,192.759995,192.759995,192.759995,192.759995,192.759995,192.880005,192.880005,192.880005
2,205.350006,253.660004,179.630005,196.100006,178.869995,199.130005,254.520004,182.910004,247.759995,245.289993,...,242.279999,239.479996,239.479996,239.479996,239.479996,239.479996,239.479996,239.350006,239.350006,239.350006
3,144.979996,217.059998,108.889999,132.740005,105.320000,137.529999,230.850006,112.610001,220.130005,209.429993,...,218.710007,213.809998,213.809998,213.809998,213.809998,213.809998,213.809998,211.160004,211.160004,211.160004
4,241.550003,265.769989,199.419998,210.410004,193.630005,213.679993,262.970001,207.779999,251.479996,261.549988,...,251.110001,249.360001,249.360001,249.360001,249.360001,249.360001,249.360001,249.160004,249.160004,249.160004
5,223.729996,266.920013,205.470001,214.899994,204.240005,220.029999,259.769989,206.679993,258.519989,255.520004,...,255.399994,252.800003,252.800003,252.800003,252.800003,252.800003,252.800003,251.610001,251.610001,251.610001
6,167.949997,238.820007,137.979996,151.779999,136.949997,162.750000,238.309998,141.589996,239.529999,223.800003,...,237.679993,233.610001,233.610001,233.610001,233.610001,233.610001,233.610001,231.279999,231.279999,231.279999
7,274.649994,284.769989,243.889999,251.199997,242.759995,247.479996,278.500000,251.179993,267.890015,284.829987,...,264.170013,263.820007,263.820007,263.820007,263.820007,263.820007,263.820007,263.390015,263.390015,263.390015
8,255.800003,276.010010,195.800003,203.949997,194.389999,208.600006,273.010010,210.779999,257.250000,277.200012,...,258.899994,257.260010,257.260010,257.260010,257.260010,257.260010,257.260010,257.529999,257.529999,257.529999
9,285.190002,280.940002,265.670013,278.179993,266.190002,263.880005,281.130005,272.980011,270.260010,288.100006,...,264.029999,264.630005,264.630005,264.630005,264.630005,264.630005,264.630005,263.799988,263.799988,263.799988
10,284.230011,280.350006,258.429993,269.459991,252.500000,257.279999,280.339996,270.329987,268.959991,285.989990,...,261.570007,262.859985,262.859985,262.859985,262.859985,262.859985,262.859985,263.579987,263.579987,263.579987
11,266.739990,256.350006,249.289993,264.339996,262.059998,252.240005,261.959991,254.240005,255.899994,265.769989,...,248.940002,247.869995,247.869995,247.869995,247.869995,247.869995,247.869995,249.259995,249.259995,249.259995
12,276.440002,269.510010,263.380005,276.950012,268.739990,260.100006,273.329987,265.109985,265.750000,277.299988,...,257.109985,258.279999,258.279999,258.279999,258.279999,258.279999,258.279999,257.820007,257.820007,257.820007
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
29,NaN,0.000000,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df_coast_req.iloc[13].unique()

array([0., 5., 3.])

In [22]:
df_coast_req.iloc[13] = df_coast_req.iloc[13].replace({3.0: 1, 5.0: 2})
variables = ['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT','183-7_BT', 'precip_flag','pr_rate_nearSurf']
df_coast_req.loc[:, 'variable'] = variables
df_coast_req.set_index('variable', inplace=True)
df_coast_req = df_coast_req.dropna(axis=1)

df_coast_tran = df_coast_req.T
df_coast_tran

variable,10v_BT,10h_BT,18v_BT,18h_BT,23v_BT,36v_BT,36h_BT,89v_BT,89h_BT,166v_BT,166h_BT,183-3_BT,183-7_BT,precip_flag,pr_rate_nearSurf
1,240.210007,191.199997,253.660004,217.059998,265.769989,266.920013,238.820007,284.769989,276.010010,280.940002,280.350006,256.350006,269.510010,0.0,0.000000
5,187.199997,127.400002,199.130005,137.529999,213.679993,220.029999,162.750000,247.479996,208.600006,263.880005,257.279999,252.240005,260.100006,0.0,0.000000
11,231.029999,198.130005,257.890015,241.520004,262.829987,265.489990,256.399994,270.640015,267.160004,267.619995,267.420013,251.380005,259.920013,0.0,0.000000
14,170.490005,103.790001,177.539993,104.120003,194.020004,204.639999,133.679993,241.990005,186.929993,261.429993,248.110001,252.770004,262.549988,0.0,0.000000
15,216.929993,173.729996,216.089996,171.710007,224.440002,234.320007,196.500000,252.089996,217.289993,264.660004,249.639999,252.800003,262.679993,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49205,216.149994,176.580002,231.740005,203.210007,245.229996,247.309998,226.410004,262.220001,255.529999,257.619995,254.039993,246.880005,252.589996,1.0,0.431430
49206,216.149994,176.580002,231.740005,203.210007,245.229996,247.309998,226.410004,262.220001,255.529999,257.619995,254.039993,246.880005,252.589996,1.0,0.431430
49207,216.149994,176.580002,231.740005,203.210007,245.229996,247.309998,226.410004,262.220001,255.529999,257.619995,254.039993,246.880005,252.589996,1.0,0.431430
49208,216.149994,176.580002,231.740005,203.210007,245.229996,247.309998,226.410004,262.220001,255.529999,257.619995,254.039993,246.880005,252.589996,1.0,0.685017
49209,226.130005,191.809998,225.000000,185.960007,234.550003,236.789993,198.089996,255.610001,220.740005,272.000000,263.160004,257.779999,270.130005,1.0,0.000000

#### Training KNN for Precipitation Phase Detection

In [23]:
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

X = df_coast_tran[['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT', '183-7_BT']]
y = df_coast_tran['precip_flag']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)


knn = KNeighborsClassifier(n_neighbors=1)


# for kNN, we need to scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
knn.fit(X_train_scaled, y_train)

knn_pred = knn.predict(X_test_scaled)

In [24]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score

knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

knn_params = {'knn__n_neighbors': range(1, 20)}

knn_grid = GridSearchCV(knn_pipe, knn_params, cv=10, n_jobs=-1, verbose=True)

knn_grid.fit(X_train, y_train)

print(knn_grid.best_params_, knn_grid.best_score_)

accuracy_score(y_test, knn_grid.predict(X_test))

Fitting 10 folds for each of 19 candidates, totalling 190 fits
{'knn__n_neighbors': 1} 0.9454330898642276

0.9471523858388917

In [25]:
from sklearn.metrics import confusion_matrix

# Create a confusion matrix
conf_matrix = confusion_matrix(y_test, knn_pred)
print(conf_matrix)

# Extract TP, TN, FP, FN for labels 1 and 2
TP_1 = conf_matrix[1, 1]  # True Positive for label 1
TN_1 = conf_matrix[0, 0] + conf_matrix[0, 2] + conf_matrix[2, 0] + conf_matrix[2, 2]  # True Negative for label 1
FP_1 = conf_matrix[0, 1] + conf_matrix[2, 1]  # False Positive for label 1
FN_1 = conf_matrix[1, 0] + conf_matrix[1, 2]  # False Negative for label 1

TP_2 = conf_matrix[2, 2]  # True Positive for label 2
TN_2 = conf_matrix[0, 0] + conf_matrix[0, 1] + conf_matrix[1, 0] + conf_matrix[1, 1]  # True Negative for label 2
FP_2 = conf_matrix[0, 2] + conf_matrix[1, 2]  # False Positive for label 2
FN_2 = conf_matrix[2, 0] + conf_matrix[2, 1]  # False Negative for label 2

# Calculate True Positive Rate (TPR) and False Positive Rate (FPR) for labels 1 and 2
TPR_1 = TP_1 / (TP_1 + FN_1)
FPR_1 = FP_1 / (FP_1 + TN_1)

TPR_2 = TP_2 / (TP_2 + FN_2)
FPR_2 = FP_2 / (FP_2 + TN_2)

# Print the results
print(f"Label 1 - TPR: {TPR_1}, FPR: {FPR_1}")
print(f"Label 2 - TPR: {TPR_2}, FPR: {FPR_2}")

[[1704  128   13]
 [  50 1710    4]
 [   6    5  278]]
Label 1 - TPR: 0.9693877551020408, FPR: 0.06232427366447985
Label 2 - TPR: 0.9619377162629758, FPR: 0.004710446106954835

### e. Snow

In [26]:
rows_to_keep = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 29]
df_snow_req = df_snow.iloc[rows_to_keep]
df_snow_req

,0,1,2,3,4,5,6,7,8,9,...,226064,226065,226066,226067,226068,226069,226070,226071,226072,226073
0,255.639999,239.979996,204.830002,265.230011,235.339996,256.470001,254.759995,251.520004,246.389999,248.279999,...,237.570007,237.570007,237.570007,237.570007,237.570007,237.039993,237.039993,237.039993,237.039993,235.539993
1,250.630005,227.750000,153.820007,256.390015,211.279999,240.289993,251.330002,239.800003,237.270004,226.759995,...,196.479996,196.479996,196.479996,196.479996,196.479996,196.169998,196.169998,196.169998,196.169998,200.500000
2,253.729996,236.039993,222.539993,262.309998,233.990005,256.019989,254.759995,248.380005,251.020004,239.470001,...,249.240005,249.240005,249.240005,249.240005,249.240005,248.509995,248.509995,248.509995,248.509995,246.389999
3,249.339996,225.559998,177.339996,253.770004,211.039993,235.720001,251.660004,238.699997,241.169998,212.699997,...,216.559998,216.559998,216.559998,216.559998,216.559998,216.389999,216.389999,216.389999,216.389999,216.740005
4,252.610001,232.889999,228.270004,260.359985,233.949997,248.789993,253.449997,238.699997,251.360001,227.639999,...,257.010010,257.010010,257.010010,257.010010,257.010010,255.990005,255.990005,255.990005,255.990005,254.399994
5,248.429993,213.940002,236.960007,243.889999,236.399994,223.500000,252.059998,213.910004,247.660004,202.910004,...,259.549988,259.549988,259.549988,259.549988,259.549988,259.980011,259.980011,259.980011,259.980011,259.070007
6,244.369995,205.410004,203.460007,236.509995,218.289993,209.440002,248.679993,207.289993,239.080002,185.789993,...,244.410004,244.410004,244.410004,244.410004,244.410004,243.429993,243.429993,243.429993,243.429993,243.220001
7,231.539993,184.380005,244.929993,214.020004,241.789993,206.919998,240.149994,219.669998,224.089996,196.520004,...,267.809998,267.809998,267.809998,267.809998,267.809998,267.690002,267.690002,267.690002,267.690002,267.070007
8,227.869995,179.220001,221.339996,209.669998,225.910004,197.149994,237.270004,215.750000,219.149994,184.669998,...,265.950012,265.950012,265.950012,265.950012,265.950012,266.160004,266.160004,266.160004,266.160004,264.980011
9,229.660004,205.770004,237.380005,236.820007,231.800003,213.139999,240.320007,224.720001,231.990005,204.850006,...,265.230011,265.230011,265.230011,265.230011,265.230011,264.089996,264.089996,264.089996,264.089996,265.750000
10,227.449997,202.339996,224.649994,233.929993,221.460007,205.639999,236.610001,220.320007,229.210007,196.669998,...,265.339996,265.339996,265.339996,265.339996,265.339996,265.570007,265.570007,265.570007,265.570007,265.679993
11,248.059998,250.690002,250.509995,256.519989,247.389999,254.660004,250.539993,250.389999,259.209991,242.279999,...,253.050003,253.050003,253.050003,253.050003,253.050003,253.339996,253.339996,253.339996,253.339996,252.820007
12,243.210007,241.600006,245.039993,256.859985,237.630005,235.899994,250.679993,246.089996,254.750000,227.639999,...,260.029999,260.029999,260.029999,260.029999,260.029999,259.929993,259.929993,259.929993,259.929993,260.690002
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
29,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_snow_req.iloc[13].unique()

array([0., 5., 3.])

In [28]:
df_snow_req.iloc[13] = df_snow_req.iloc[13].replace({3.0: 1, 5.0: 2})
variables = ['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT','183-7_BT', 'precip_flag','pr_rate_nearSurf']
df_snow_req.loc[:, 'variable'] = variables
df_snow_req.set_index('variable', inplace=True)
df_snow_req = df_snow_req.dropna(axis=1)

df_snow_tran = df_snow_req.T
df_snow_tran

variable,10v_BT,10h_BT,18v_BT,18h_BT,23v_BT,36v_BT,36h_BT,89v_BT,89h_BT,166v_BT,166h_BT,183-3_BT,183-7_BT,precip_flag,pr_rate_nearSurf
6,254.759995,251.330002,254.759995,251.660004,253.449997,252.059998,248.679993,240.149994,237.270004,240.320007,236.610001,250.539993,250.679993,0.0,0.000000
10,255.580002,251.339996,250.500000,246.070007,247.669998,242.619995,238.940002,221.389999,218.960007,226.850006,224.360001,243.429993,241.570007,0.0,0.000000
13,251.460007,246.149994,248.779999,242.850006,246.360001,235.919998,232.550003,209.850006,206.149994,229.669998,227.179993,250.470001,250.710007,0.0,0.000000
14,249.789993,239.399994,237.009995,224.710007,225.130005,199.369995,189.289993,187.610001,182.259995,207.550003,203.240005,245.270004,242.509995,0.0,0.000000
16,254.740005,235.369995,245.130005,224.149994,239.809998,221.059998,204.479996,196.240005,185.350006,213.929993,206.419998,248.830002,240.479996,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226059,204.389999,159.839996,220.679993,179.509995,235.479996,238.970001,206.800003,258.570007,246.070007,261.459991,256.880005,248.710007,256.019989,1.0,0.340050
226060,204.389999,159.839996,220.679993,179.509995,235.479996,238.970001,206.800003,258.570007,246.070007,261.459991,256.880005,248.710007,256.019989,1.0,0.340050
226061,204.389999,159.839996,220.679993,179.509995,235.479996,238.970001,206.800003,258.570007,246.070007,261.459991,256.880005,248.710007,256.019989,1.0,0.340050
226062,204.389999,159.839996,220.679993,179.509995,235.479996,238.970001,206.800003,258.570007,246.070007,261.459991,256.880005,248.710007,256.019989,1.0,0.325864
226063,204.389999,159.839996,220.679993,179.509995,235.479996,238.970001,206.800003,258.570007,246.070007,261.459991,256.880005,248.710007,256.019989,1.0,0.325864

In [29]:
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

X = df_snow_tran[['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT', '183-7_BT']]
y = df_snow_tran['precip_flag']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)


knn = KNeighborsClassifier(n_neighbors=1)


# for kNN, we need to scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
knn.fit(X_train_scaled, y_train)

knn_pred = knn.predict(X_test_scaled)

In [30]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score

knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

knn_params = {'knn__n_neighbors': range(1, 20)}

knn_grid = GridSearchCV(knn_pipe, knn_params, cv=10, n_jobs=-1, verbose=True)

knn_grid.fit(X_train, y_train)

print(knn_grid.best_params_, knn_grid.best_score_)

accuracy_score(y_test, knn_grid.predict(X_test))

Fitting 10 folds for each of 19 candidates, totalling 190 fits
{'knn__n_neighbors': 1} 0.9579554464391327

0.9639050815521404

In [31]:
from sklearn.metrics import confusion_matrix

# Create a confusion matrix
conf_matrix = confusion_matrix(y_test, knn_pred)
print(conf_matrix)

# Extract TP, TN, FP, FN for labels 1 and 2
TP_1 = conf_matrix[1, 1]  # True Positive for label 1
TN_1 = conf_matrix[0, 0] + conf_matrix[0, 2] + conf_matrix[2, 0] + conf_matrix[2, 2]  # True Negative for label 1
FP_1 = conf_matrix[0, 1] + conf_matrix[2, 1]  # False Positive for label 1
FN_1 = conf_matrix[1, 0] + conf_matrix[1, 2]  # False Negative for label 1

TP_2 = conf_matrix[2, 2]  # True Positive for label 2
TN_2 = conf_matrix[0, 0] + conf_matrix[0, 1] + conf_matrix[1, 0] + conf_matrix[1, 1]  # True Negative for label 2
FP_2 = conf_matrix[0, 2] + conf_matrix[1, 2]  # False Positive for label 2
FN_2 = conf_matrix[2, 0] + conf_matrix[2, 1]  # False Negative for label 2

# Calculate True Positive Rate (TPR) and False Positive Rate (FPR) for labels 1 and 2
TPR_1 = TP_1 / (TP_1 + FN_1)
FPR_1 = FP_1 / (FP_1 + TN_1)

TPR_2 = TP_2 / (TP_2 + FN_2)
FPR_2 = FP_2 / (FP_2 + TN_2)

# Print the results
print(f"Label 1 - TPR: {TPR_1}, FPR: {FPR_1}")
print(f"Label 2 - TPR: {TPR_2}, FPR: {FPR_2}")

[[8376   79  325]
 [  43  872   16]
 [ 137   13 7122]]
Label 1 - TPR: 0.9366272824919442, FPR: 0.00573137303762771
Label 2 - TPR: 0.9793729372937293, FPR: 0.03511481824734837

## 3. All Together

In [33]:
rows_to_keep = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 29]
df_all_req = df_all.iloc[rows_to_keep]
df_all_req

,0,1,2,3,4,5,6,7,8,9,...,665016,665017,665018,665019,665020,665021,665022,665023,665024,665025
0,270.880005,297.109985,267.140015,275.450012,268.910004,301.079987,244.490005,285.809998,273.220001,268.339996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,268.739990,284.809998,265.809998,249.809998,265.200012,288.920013,228.460007,284.720001,270.470001,267.769989,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,274.230011,299.299988,268.070007,276.600006,269.320007,300.899994,248.339996,287.230011,273.399994,269.459991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,271.350006,287.760010,267.540009,261.730011,263.869995,293.519989,236.190002,287.640015,271.380005,267.350006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,274.190002,298.609985,270.339996,277.630005,271.119995,298.459991,252.880005,285.549988,273.799988,270.079987,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,274.950012,298.549988,270.140015,276.869995,270.470001,298.450012,255.330002,285.700012,274.049988,268.519989,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,274.019989,290.470001,269.250000,267.279999,264.309998,294.320007,246.070007,285.559998,271.619995,266.950012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,275.559998,298.980011,269.260010,276.040009,274.959991,295.170013,263.890015,285.239990,274.190002,267.750000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,274.720001,293.390015,269.000000,270.220001,269.609985,293.440002,261.170013,284.399994,272.200012,265.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,269.579987,296.170013,268.000000,275.600006,277.390015,283.929993,264.619995,279.529999,275.799988,273.019989,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,268.149994,294.290009,267.019989,272.549988,276.839996,282.920013,261.890015,278.450012,275.540009,271.959991,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,249.949997,262.089996,250.690002,264.149994,260.779999,263.559998,254.570007,261.260010,256.390015,266.359985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,260.359985,282.750000,260.440002,273.149994,269.380005,271.940002,261.799988,268.859985,271.320007,273.989990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0.000000,NaN,0.000000,NaN,0.000000,NaN,0.000000,0.000000,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df_all_req.iloc[13].unique()

array([ 0.,  5.,  3., nan])

In [35]:
df_all_req.iloc[13] = df_all_req.iloc[13].replace({3.0: 1, 5.0: 2})
variables = ['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT','183-7_BT', 'precip_flag','pr_rate_nearSurf']
df_all_req.loc[:, 'variable'] = variables
df_all_req.set_index('variable', inplace=True)
df_all_req = df_all_req.dropna(axis=1)

df_all_tran = df_all_req.T
df_all_tran

variable,10v_BT,10h_BT,18v_BT,18h_BT,23v_BT,36v_BT,36h_BT,89v_BT,89h_BT,166v_BT,166h_BT,183-3_BT,183-7_BT,precip_flag,pr_rate_nearSurf
0,270.880005,268.739990,274.230011,271.350006,274.190002,274.950012,274.019989,275.559998,274.720001,269.579987,268.149994,249.949997,260.359985,0.0,0.0
2,267.140015,265.809998,268.070007,267.540009,270.339996,270.140015,269.250000,269.260010,269.000000,268.000000,267.019989,250.690002,260.440002,0.0,0.0
4,268.910004,265.200012,269.320007,263.869995,271.119995,270.470001,264.309998,274.959991,269.609985,277.390015,276.839996,260.779999,269.380005,0.0,0.0
6,244.490005,228.460007,248.339996,236.190002,252.880005,255.330002,246.070007,263.890015,261.170013,264.619995,261.890015,254.570007,261.799988,0.0,0.0
7,285.809998,284.720001,287.230011,287.640015,285.549988,285.700012,285.559998,285.239990,284.399994,279.529999,278.450012,261.260010,268.859985,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189864,237.119995,216.089996,248.550003,229.130005,254.229996,255.279999,241.289993,265.989990,259.519989,267.100006,266.950012,249.429993,259.920013,1.0,0.0
189865,237.119995,216.089996,248.550003,229.130005,254.229996,255.279999,241.289993,265.989990,259.519989,267.100006,266.950012,249.429993,259.920013,1.0,0.0
189866,237.119995,216.089996,248.550003,229.130005,254.229996,255.279999,241.289993,265.989990,259.519989,267.100006,266.950012,249.429993,259.920013,1.0,0.0
189971,240.979996,216.690002,252.449997,234.479996,258.049988,259.959991,244.259995,268.609985,260.839996,269.339996,268.140015,250.809998,261.399994,1.0,0.0
189972,240.979996,216.690002,252.449997,234.479996,258.049988,259.959991,244.259995,268.609985,260.839996,269.339996,268.140015,250.809998,261.399994,1.0,0.0

In [36]:
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

X = df_all_tran[['10v_BT', '10h_BT', '18v_BT', '18h_BT', '23v_BT', '36v_BT', '36h_BT', '89v_BT', '89h_BT', '166v_BT', '166h_BT', '183-3_BT', '183-7_BT']]
y = df_all_tran['precip_flag']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)


knn = KNeighborsClassifier(n_neighbors=1)


# for kNN, we need to scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
knn.fit(X_train_scaled, y_train)

knn_pred = knn.predict(X_test_scaled)

In [37]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, cross_val_score

knn_pipe = Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier(n_jobs=-1))])

knn_params = {'knn__n_neighbors': range(1, 20)}

knn_grid = GridSearchCV(knn_pipe, knn_params, cv=10, n_jobs=-1, verbose=True)

knn_grid.fit(X_train, y_train)

print(knn_grid.best_params_, knn_grid.best_score_)

accuracy_score(y_test, knn_grid.predict(X_test))

Fitting 10 folds for each of 19 candidates, totalling 190 fits
{'knn__n_neighbors': 1} 0.9363859590456454

0.9430041427235066

In [38]:
from sklearn.metrics import confusion_matrix

# Create a confusion matrix
conf_matrix = confusion_matrix(y_test, knn_pred)
print(conf_matrix)

# Extract TP, TN, FP, FN for labels 1 and 2
TP_1 = conf_matrix[1, 1]  # True Positive for label 1
TN_1 = conf_matrix[0, 0] + conf_matrix[0, 2] + conf_matrix[2, 0] + conf_matrix[2, 2]  # True Negative for label 1
FP_1 = conf_matrix[0, 1] + conf_matrix[2, 1]  # False Positive for label 1
FN_1 = conf_matrix[1, 0] + conf_matrix[1, 2]  # False Negative for label 1

TP_2 = conf_matrix[2, 2]  # True Positive for label 2
TN_2 = conf_matrix[0, 0] + conf_matrix[0, 1] + conf_matrix[1, 0] + conf_matrix[1, 1]  # True Negative for label 2
FP_2 = conf_matrix[0, 2] + conf_matrix[1, 2]  # False Positive for label 2
FN_2 = conf_matrix[2, 0] + conf_matrix[2, 1]  # False Negative for label 2

# Calculate True Positive Rate (TPR) and False Positive Rate (FPR) for labels 1 and 2
TPR_1 = TP_1 / (TP_1 + FN_1)
FPR_1 = FP_1 / (FP_1 + TN_1)

TPR_2 = TP_2 / (TP_2 + FN_2)
FPR_2 = FP_2 / (FP_2 + TN_2)

# Print the results
print(f"Label 1 - TPR: {TPR_1}, FPR: {FPR_1}")
print(f"Label 2 - TPR: {TPR_2}, FPR: {FPR_2}")

[[6890  500   42]
 [ 267 6611   13]
 [  12   19  612]]
Label 1 - TPR: 0.9593672906689885, FPR: 0.06427244582043344
Label 2 - TPR: 0.9517884914463453, FPR: 0.003839977658311806